@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* Constant styles  */
@font-face {
  font-family: helBold;
  src: url("../fonts/HelveticaNeuBold.ttf");
}
@font-face {
  font-family: helThinn;
  src: url("../fonts/HelveticaNeue Thin.ttf");
}
@font-face {
  font-family: helregular;
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: helBlack;
  src: url("../fonts/HelveticaNeueBlackCond.ttf");
}
@font-face {
  font-family: helLight;
  src: url("../fonts/HelveticaNeueLight.ttf");
}
@font-face {
  font-family: helMedium;
  src: url("../fonts/HelveticaNeueMedium.ttf");
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  transition: all 0.4s ease-in;
  font-family: helLight;
}

body {
  font-family: helLight;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* // Constant Styles */
ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */
.btn_style {
  display: inline-flex;
  height: 50px;
  padding: 15px 42px;
  justify-content: center;
  align-items: center;
  background-color: #e97176;
  border: 1px solid #e97176;
  border-radius: 11px;
  color: #fff;
}
.btn_style:hover {
  color: #e97176;
  background-color: #fff;
}

.card_img {
  height: 100vh;
  position: relative;
}
.card_img .img_parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_img .img_parent img,
.card_img .img_parent video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 100px;
  }
}
@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 60px;
  }
}
@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 40px;
  }
}
@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}
@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}
.splashoverlay {
  display: flex;
}

.splashoverlay {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.splashoverlay .splach_box {
  position: fixed;
  width: 25%;
  height: 100%;
  background-color: #fff;
}
.splashoverlay .splach_box.first_box {
  right: 0;
}
.splashoverlay .splach_box.second_box {
  right: 25%;
}
.splashoverlay .splach_box.third_box {
  left: 25%;
}
.splashoverlay .splach_box.fourth_box {
  left: 0;
}
.splashoverlay .splash_spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #eee;
  border-top: 3px solid #363b3e;
  border-radius: 100%;
  margin: 20px auto 0 auto;
  animation: loader 1s infinite linear;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
.splashoverlay .overlay_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.splashoverlay .overlay_logo img {
  width: 150px;
}
.splashoverlay .loding_gif {
  text-align: center;
  width: 160px;
}
.splashoverlay .loding_gif video {
  margin: auto;
  width: 100%;
}

/* ================================================================ */
.open_modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.active_open_modal {
  opacity: 1;
  visibility: visible;
}

/* ================================================================ */
.custom_navbar {
  position: fixed;
  padding: 43px 0;
  top: 0;
  width: 100%;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}
.custom_navbar .navbar_logo img {
  width: 170px;
  transition: all 0.3s ease-in-out;
}
.custom_navbar .nav_links {
  background-color: #1c1c20;
  border-radius: 35px;
  padding: 15px 7px;
  padding-bottom: 16px;
  width: 791px;
  max-width: 100%;
  margin: auto;
}
.custom_navbar .nav_links .nav_link {
  font-size: 1rem;
  color: #fff;
  padding: 11px 35px;
  font-size: 0.9rem;
}
.custom_navbar .nav_links .active .nav_link {
  border-radius: 35px;
  background-color: #232932;
}
.custom_navbar .nav_links .nav_item:hover .nav_link {
  border-radius: 35px;
  background-color: #232932;
}
.custom_navbar .navbar_content .phone_btn i {
  color: #e97176;
}
.custom_navbar .navbar_content .phone_btn span {
  font-family: helMedium;
  color: #fff;
  margin-left: 12px;
}
.custom_navbar .navbar_content .cont_btn {
  background-color: #e97176;
  color: #fff;
  padding: 15px;
  border-radius: 35px;
  margin-left: 30px;
  width: 168px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  border: 1px solid #e97176;
  cursor: pointer;
}
.custom_navbar .navbar_content .cont_btn:hover {
  background-color: #fff;
  color: #e97176;
}

.fixed_navbar {
  background-color: #232932;
  padding: 23px 0;
}
.fixed_navbar .navbar_logo img {
  width: 100px;
}

.mobile_header {
  position: fixed;
  padding: 43px 0;
  top: 0;
  width: 100%;
  z-index: 4;
  transition: all 0.3s ease-in-out;
  display: none;
}
.mobile_header .burger_men a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.mobile_header .burger_men a i {
  font-size: 1.6rem;
  color: #fff;
}
.mobile_header .mobile_oprion li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}
.mobile_header .mobile_oprion li a i {
  color: #e97176;
}
.mobile_header .mobile_oprion li:last-child a {
  background-color: #e97176;
  padding: 7px;
}

/* ================================================================ */
.website_heaeder {
  background-image: linear-gradient(to bottom, #232932, #1c1c20);
  min-height: 95vh;
  padding: 218px 0;
  padding-bottom: 250px;
  position: relative;
}
.website_heaeder .header_title {
  color: #ffffff;
  font-weight: bold;
  font-family: helMedium;
  font-size: 2.5rem;
  z-index: 2;
  position: relative;
}
.website_heaeder .header_title span {
  position: relative;
}
.website_heaeder .header_title span::after {
  position: absolute;
  content: "";
  background-color: #e97176;
  border-radius: 40px;
  height: 20px;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.website_heaeder .header_slogan {
  font-size: 2rem;
  color: #fff;
  font-family: helLight;
  margin: 20px 0;
}
.website_heaeder .header_text {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.website_heaeder .header_link {
  background-color: #fff;
  border-radius: 35px;
  padding: 17px 40px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #fff;
}
.website_heaeder .header_link span {
  color: #e97176;
  font-family: helMedium;
  margin-right: 15px;
}
.website_heaeder .header_link i {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.website_heaeder .header_link:hover {
  background-color: transparent;
}
.website_heaeder .header_link:hover i {
  color: #fff;
}
.website_heaeder .header_boxes {
  padding-top: 57px;
}
.website_heaeder .header_boxes img {
  width: 100%;
}
.website_heaeder .header_box {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 50px;
  padding: 15px 10px;
}
.website_heaeder .header_box .icon {
  flex: none;
}
.website_heaeder .header_box .icon img {
  width: 50px;
}
.website_heaeder .header_box .box_body {
  margin-left: 15px;
}
.website_heaeder .header_box .box_body h5 {
  font-size: 0.8rem;
}
.website_heaeder .header_box .box_body span {
  font-family: helBold;
  margin-right: 10px;
}
.website_heaeder .header_box .box_body i {
  color: #ffa534;
  font-size: 0.9rem;
}
.website_heaeder .header_svg {
  position: absolute;
  bottom: 0;
  opacity: 0.7;
}
.website_heaeder .form_wrapper {
  background-color: #232932;
  padding: 37px 45px;
  border-radius: 30px;
  width: 90%;
  margin-left: auto;
}
.website_heaeder .form_wrapper h5 {
  color: #fff;
  font-size: 1.3rem;
  font-family: helMedium;
  margin-bottom: 50px;
}
.website_heaeder .form_wrapper form .form-group {
  border: 1px solid #ffffff;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  margin-bottom: 25px;
}
.website_heaeder .form_wrapper form .form-group i {
  color: #ffffff;
  font-size: 1.5rem;
  padding-right: 16px;
  margin-top: 3px;
  border-right: 1px solid rgba(244, 244, 244, 0.4235294118);
}
.website_heaeder .form_wrapper form .form-group .form-control {
  background-color: transparent;
  border: 0;
  color: #fff;
  border-radius: 0;
  height: 100%;
}
.website_heaeder .form_wrapper form .form-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}
.website_heaeder .form_wrapper form .form-group .form-control::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}
.website_heaeder .form_wrapper form .form-group textarea.form-control {
  border-left: 0;
  resize: none;
}
.website_heaeder .form_wrapper form .textarea_form_group {
  border-radius: 15px;
  height: 100px;
}
.website_heaeder .form_wrapper form .btn_submit {
  text-align: right;
}
.website_heaeder .form_wrapper form .btn_submit .btn {
  background-color: #e97176;
  border-radius: 45px;
  padding: 16px;
  width: 220px;
  max-width: 100%;
}
.website_heaeder .form_wrapper form .btn_submit .btn span {
  color: #fff;
  font-family: helMedium;
  margin-left: 12px;
}
.website_heaeder .form_wrapper .iti__selected-flag {
  padding: 0;
  border-right: 1px solid rgba(244, 244, 244, 0.4235294118);
  padding-right: 8px;
}
.website_heaeder .form_wrapper .iti--show-selected-dial-code.iti--show-flags .iti__selected-dial-code {
  color: #fff;
  font-size: 0.9rem;
}
.website_heaeder .header_breadcrumb li a {
  color: #fff;
  font-family: helMedium;
  font-size: 0.8rem;
  padding-right: 10px;
}
.website_heaeder .header_breadcrumb li a i {
  margin-left: 10px;
  color: #e97176;
}
.website_heaeder .header_breadcrumb li:first-child a i.fa-home {
  margin-left: 0;
  margin-right: 10px;
  color: #fff;
}
.website_heaeder .header_breadcrumb li.active a {
  font-family: helLight;
}

.inner_website_heaeder {
  padding-bottom: 200px;
  min-height: auto;
}
.inner_website_heaeder .header_content .header_title {
  font-size: 2.1rem;
}
.inner_website_heaeder .header_content .header_text {
  margin-top: 35px;
}

.form_wrapper_style {
  background-color: #232932;
  padding: 37px 45px;
  border-radius: 30px;
  width: 90%;
  margin-left: auto;
}
.form_wrapper_style h5 {
  color: #fff;
  font-size: 1.3rem;
  font-family: helMedium;
  margin-bottom: 50px;
}
.form_wrapper_style form .form-group {
  border: 1px solid #ffffff;
  border-radius: 27px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  margin-bottom: 25px;
}
.form_wrapper_style form .form-group i {
  color: #ffffff;
  font-size: 1.5rem;
  padding-right: 16px;
  margin-top: 3px;
  border-right: 1px solid rgba(244, 244, 244, 0.4235294118);
}
.form_wrapper_style form .form-group .form-control,
.form_wrapper_style form .form-group .nice_select {
  background-color: transparent;
  border: 0;
  color: #fff;
  border-radius: 0;
  height: 100%;
}
.form_wrapper_style form .form-group .form-control::-moz-placeholder, .form_wrapper_style form .form-group .nice_select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}
.form_wrapper_style form .form-group .form-control::placeholder,
.form_wrapper_style form .form-group .nice_select::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1rem;
}
.form_wrapper_style form .form-group .nice_select {
  width: 100%;
  float: none;
}
.form_wrapper_style form .form-group .nice_select .list {
  width: 100%;
}
.form_wrapper_style form .form-group textarea.form-control {
  border-left: 0;
  resize: none;
}
.form_wrapper_style form .textarea_form_group {
  border-radius: 15px;
  height: 100px;
}
.form_wrapper_style form .btn_submit {
  text-align: right;
}
.form_wrapper_style form .btn_submit .btn {
  background-color: #e97176;
  border-radius: 45px;
  padding: 16px;
  width: 220px;
  max-width: 100%;
}
.form_wrapper_style form .btn_submit .btn span {
  color: #fff;
  font-family: helMedium;
  margin-left: 12px;
}
.form_wrapper_style .iti__selected-flag {
  padding: 0;
  border-right: 1px solid #707070;
  padding-right: 5px;
  background-color: transparent;
}
.form_wrapper_style .iti--show-selected-dial-code.iti--show-flags .iti__selected-dial-code {
  color: #000;
  font-size: 0.9rem;
}

/* ================================================================ */
/* ================================================================ */
.section_header {
  margin: 0;
}
.section_header h5 {
  color: #202228;
  margin: 0;
  font-size: 2.5rem;
  font-family: helMedium;
}
.section_header h6 {
  color: #e97176;
  margin: 0;
  font-size: 2.5rem;
  font-family: helMedium;
}

/* ================================================================ */
.how_help_you {
  background-color: #f4f4f4;
  padding-bottom: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -100px;
}
.how_help_you .section_header {
  margin-bottom: 56px;
  margin-top: 70px;
}
.how_help_you .years_exp_box {
  background-color: #fff;
  padding: 35px 50px;
  border-radius: 20px;
  position: relative;
  top: -60px;
  z-index: 2;
}
.how_help_you .years_exp_box .number {
  text-align: center;
  position: relative;
}
.how_help_you .years_exp_box .number::after {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.6196078431);
  width: 1px;
  content: "";
  top: 50%;
  transform: translate(0, -50%);
}
.how_help_you .years_exp_box .number h5 {
  color: #e97176;
  font-size: 3.7rem;
  font-family: helBold;
}
.how_help_you .years_exp_box .number p {
  color: #000;
  font-size: 1.3rem;
  font-family: helMedium;
  margin: 0;
}
.how_help_you .years_exp_box .number p span {
  display: block;
}
.how_help_you .years_exp_box .years_exp_slider {
  padding: 0 0 0 40px;
}
.how_help_you .years_exp_box .years_exp_slider .card_img {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: center;
}
.how_help_you .years_exp_box .years_exp_slider .card_img img {
  width: 80px;
}

.help_card {
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 18px;
  padding: 40px 30px 50px 30px;
  text-align: center;
}
.help_card .card_icon {
  margin-bottom: 25px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help_card .card_body h2 {
  font-family: helMedium;
  font-size: 1.25rem;
}
.help_card .card_body p {
  font-size: 1rem;
  margin-top: 25px;
}

/* ================================================================ */
.brands {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 74px 0 65px 0;
}

.brand_card {
  margin-top: 35px;
  background-color: #fff;
  box-shadow: 0px 0px 53px rgba(145, 145, 145, 0.1607843137);
  padding: 20px 20px;
  border-radius: 20px;
  text-align: center;
}
.brand_card .card_icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_card img {
  width: 80px;
}

.download_profile {
  margin-top: 75px;
  background-image: linear-gradient(to right, #232932, #1c1c20);
  border-radius: 15px;
  padding: 27px;
}
.download_profile .download_content h5 {
  color: #fff;
  font-size: 1.27rem;
  font-family: helMedium;
  margin: 0;
}
.download_profile .pdf_link {
  background-color: #fff;
  border-radius: 35px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 25px;
  border: 1px solid #fff;
}
.download_profile .pdf_link span {
  color: #e97176;
  font-size: 1rem;
  margin-left: 12px;
  font-family: helMedium;
}
.download_profile .pdf_link:hover {
  background-color: transparent;
}
.download_profile .meeting_link {
  background-color: #e97176;
  border-radius: 35px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 25px;
  border: 1px solid #e97176;
  margin-left: 20px;
}
.download_profile .meeting_link span {
  color: #fff;
  font-size: 1rem;
  margin-left: 12px;
  font-family: helMedium;
}
.download_profile .meeting_link:hover {
  background-color: transparent;
}

/* ================================================================ */
.what_promise {
  background-color: #202228;
  margin-top: 65px;
  padding: 55px 0 75px 0;
}
.what_promise .section_header h5 {
  color: #e97176;
}
.what_promise .section_header h6 {
  color: #fff;
}

.promise_card {
  margin: 50px 10px;
  background-color: #fff;
  padding: 33px 30px 20px 30px;
  border-radius: 18px;
}
.promise_card .card_icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.promise_card .card_icon img {
  width: 150px;
}
.promise_card .card_title {
  font-family: helMedium;
  font-size: 1.1rem;
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 20px;
}

/* ================================================================ */
.dots_style .slick-dots li {
  margin: 0;
  width: 20px;
  height: 6px;
  margin: 0 6px;
  transition: all 0.3s ease-in-out;
}
.dots_style .slick-dots li button {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: #232932;
  border-radius: 6px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.dots_style .slick-dots li button:before {
  content: "";
  margin: 0;
  width: 100%;
  height: 100%;
}
.dots_style .slick-dots li.slick-active {
  width: 30px;
}
.dots_style .slick-dots li.slick-active button {
  opacity: 1;
  background-color: #e97176;
}

/* ================================================================ */
.customers_say {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 74px 0 65px 0;
}
.customers_say .section_header {
  margin-bottom: 71px;
}
.customers_say .slider_item {
  padding: 0 25px;
}
.customers_say_card {
  box-shadow: 0px 0px 53px rgba(145, 145, 145, 0.1607843137);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
}
.customers_say_card h5 {
  font-family: helMedium;
  font-size: 1.25rem;
}
.customers_say_card .order2tablet .rate {
  display: none !important;
}
.customers_say_card h6 {
  margin: 17px 0;
  color: #e97176;
  font-family: helMedium;
  font-size: 1.25rem;
}
.customers_say_card p {
  color: #919191;
  font-size: 1.1rem;
  line-height: 27px;
}
.customers_say_card .customer_logo {
  text-align: center;
}
.customers_say_card .customer_logo .rate {
  margin-bottom: 35px;
}
.customers_say_card .customer_logo .rate span {
  margin-right: 15px;
  font-size: 1.2rem;
  color: #e97176;
  font-family: helMedium;
}
.customers_say_card .customer_logo .rate i {
  font-size: 1.2rem;
  color: #ffa534;
  margin-left: 3px;
}
.customers_say_card .customer_logo .logo img {
  width: 180px;
  display: block;
  margin: auto;
}

/* ================================================================ */
.contact_us_section {
  background-color: #fafafa;
  margin-top: 100px;
  padding: 90px 0 65px 0;
}
.contact_us_section .section_header {
  margin-bottom: 71px;
}
.contact_us_section .form_wrapper_style {
  background-color: #fff;
  width: 100%;
}
.contact_us_section .form_wrapper_style .form-group {
  border: 1px solid #e8e8e8;
}
.contact_us_section .form_wrapper_style .form-group .icon {
  border-right: 1px solid #707070;
}
.contact_us_section .form_wrapper_style .form-group i {
  color: #e97176;
}
.contact_us_section .form_wrapper_style .form-group .form-control::-moz-placeholder {
  color: #919191;
}
.contact_us_section .form_wrapper_style .form-group .form-control::placeholder {
  color: #919191;
}
.contact_us_section .form_wrapper_style .form-group .nice_select {
  color: #919191;
}
.contact_us_section .form_wrapper_style .form-group .nice_select .list .option {
  color: #000;
}
.contact_us_section .form_wrapper_style .textarea_form_group {
  height: 120px;
}
.contact_us_section .form_wrapper_style .btn_submit .btn {
  border-color: #e97176;
  transition: all 0.3s ease-in-out;
}
.contact_us_section .form_wrapper_style .btn_submit .btn:hover {
  background-color: #1c1c20;
  border-color: #1c1c20;
}

.location_card {
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 16px;
  margin-bottom: 35px;
}
.location_card .country {
  display: flex;
  align-items: center;
}
.location_card .country img {
  width: 30px;
}
.location_card .country span {
  font-family: helMedium;
  font-size: 1.2rem;
  margin-left: 13px;
}
.location_card .location_text {
  margin: 25px 0;
}
.location_card .location_text p {
  color: #4a4a4a;
  font-size: 1.2rem;
}
.location_card .location_info .contact_card span {
  width: 40px;
  height: 40px;
  border: 1px solid #e97176;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location_card .location_info .contact_card span i {
  color: #e97176;
  font-size: 1.3rem;
}
.location_card .location_info .contact_card h5 {
  font-size: 1rem;
  margin: 0;
  margin-left: 15px;
  font-family: helMedium;
}

/* ================================================================ */
.how_increase {
  background-color: #f4f4f4;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -150px;
  position: relative;
  z-index: 2;
  padding: 70px 0;
}
.how_increase .how_increase_cards .head {
  margin-top: 36px;
  margin-bottom: 44px;
  font-size: 1.1rem;
}

.how_increase_card {
  background-color: #fff;
  padding: 25px 34px 11px 34px;
  border-radius: 15px;
  margin-bottom: 26px;
}
.how_increase_card .card_title {
  color: #e97176;
  margin-bottom: 25px;
  font-family: helMedium;
  font-size: 1.1rem;
}
.how_increase_card .card_icon {
  flex: none;
  margin-right: 30px;
}
.how_increase_card .card_icon img {
  width: 60px;
}
.how_increase_card .card_text {
  font-size: 0.85rem;
}

/* ================================================================ */
.our_process {
  padding: 50px 0 93px 0;
}
.our_process .our_process_cards {
  margin: auto;
  margin-top: 72px;
}
.our_process li {
  position: relative;
  padding-bottom: 70px;
}
.our_process li .card_title {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.our_process li .card_title span {
  color: #000;
  font-family: helMedium;
  font-size: 1.8rem;
}
.our_process li .card_title h6 {
  margin: 0;
  margin-left: 10px;
  color: #e97176;
  font-family: helMedium;
  font-size: 1.5rem;
}
.our_process li .card_icon {
  flex: none;
  margin-left: 80px;
}
.our_process li .card_icon img {
  width: 150px;
}
.our_process li .card_text p {
  font-size: 1rem;
  color: #363636;
}
.our_process li::after {
  position: absolute;
  content: "";
  width: 95%;
  bottom: -70px;
  left: 0;
  background-image: url("../images/first_pr_line.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -1;
}
.our_process li:nth-of-type(even) {
  flex-direction: row-reverse;
}
.our_process li:nth-of-type(even)::after {
  background-image: url("../images/second_pr_line.svg");
}
.our_process li:nth-of-type(even) .card_icon {
  flex: none;
  margin-right: 80px;
  margin-left: -70px;
}
.our_process li:nth-of-type(even) .card_icon img {
  width: 150px;
}
.our_process li:last-child::after {
  display: none;
}

/* ================================================================ */
.start_up_lunch {
  background-color: #e8696f;
  padding: 65px 0;
  position: relative;
  overflow: hidden;
}
.start_up_lunch .bg_img {
  position: absolute;
  bottom: 0;
}
.start_up_lunch .start_up_lunch_wrapper .card_icon {
  margin-right: 40px;
  position: relative;
  z-index: 3;
}
.start_up_lunch .start_up_lunch_wrapper .card_body {
  position: relative;
  z-index: 3;
}
.start_up_lunch .start_up_lunch_wrapper .card_body h4 {
  color: #fff;
  font-size: 2rem;
  font-family: helMedium;
}
.start_up_lunch .start_up_lunch_wrapper .card_body h4 span {
  color: #232932;
  font-size: 2.5rem;
  font-family: helBold;
}
.start_up_lunch .start_up_lunch_wrapper .parg {
  margin-top: 25px;
}
.start_up_lunch .start_up_lunch_wrapper .parg p {
  color: #fff;
  font-size: 1.5rem;
}
.start_up_lunch .start_up_lunch_wrapper .parg a {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232932;
  color: #fff;
  padding: 15px;
  border-radius: 28px;
  max-width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-family: helMedium;
  border: 1px solid #e97176;
  cursor: pointer;
}
.start_up_lunch .start_up_lunch_wrapper .parg a img {
  margin-right: 20px;
}
.start_up_lunch .start_up_lunch_wrapper .parg a:hover {
  background-color: #2e3541;
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
.footer_copy {
  background-image: linear-gradient(to bottom, #232932, #1c1c20);
}
.footer_copy hr {
  color: #464646;
}

.footer {
  padding: 45px 0;
}
.footer .logo {
  margin-bottom: 25px;
}
.footer .logo img {
  width: 200px;
}
.footer .footer_content {
  width: 80%;
}
.footer .footer_content p {
  color: #fff;
  font-size: 1rem;
}
.footer .social {
  margin-top: 25px;
}
.footer .social li a {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-right: 15px;
}
.footer .social li a i {
  font-size: 1.2rem;
}
.footer .footer_links h5 {
  color: #fff;
  font-size: 1.3rem;
  font-family: helMedium;
  margin: 0;
}
.footer .footer_links img {
  width: 30px;
}
.footer .footer_links li {
  margin-top: 10px;
}
.footer .footer_links li a {
  color: #fff;
  font-size: 0.9rem;
}

.copy {
  padding: 15px 0;
}
.copy .title {
  color: #fff;
  font-size: 1rem;
}
.copy li a {
  color: #fff;
  font-size: 0.9rem;
}

/* ================================================================ */
@media (max-width: 1440px) {
  .custom_navbar .nav_links .nav_link {
    padding: 11px 25px;
  }
  .custom_navbar .navbar_content .cont_btn {
    padding: 12px;
  }
  .promise_card .card_title {
    width: 100%;
  }
  .location_card .location_info .contact_card h5 {
    font-size: 0.9rem;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 14px;
  }
  .custom_navbar .navbar_content .cont_btn {
    padding: 7px;
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .custom_navbar {
    display: none;
  }
  .fixed_navbar {
    padding: 15px 0;
  }
  .how_help_you .years_exp_box .number {
    padding-right: 15px;
  }
  .help_card .card_body h2 {
    font-size: 1rem;
  }
  .website_heaeder .form_wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .location_card .location_info .contact_card span {
    flex: none;
  }
  .promise_card {
    padding: 30px 25px;
  }
  .promise_card p {
    font-size: 1rem;
  }
  .contact_us_section .form_wrapper_style {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .custom_navbar {
    display: none;
  }
  .mobile_header {
    display: block;
  }
  .how_help_you .years_exp_box .number {
    margin-bottom: 25px;
  }
  .how_help_you .years_exp_box .number::after {
    width: 100%;
    height: 1px;
    bottom: -20px;
    top: unset;
  }
  .download_profile .download_content {
    justify-content: center !important;
    margin-bottom: 20px;
  }
  .customers_say_card .customer_logo .rate {
    margin-bottom: 0;
  }
  .customer_content .rate {
    justify-content: flex-start !important;
    margin-bottom: 10px;
  }
  .customer_content .rate span {
    margin-right: 15px;
    font-size: 1.2rem;
    color: #e97176;
    font-family: helMedium;
  }
  .customer_content .rate i {
    font-size: 1.2rem;
    color: #ffa534;
    margin-left: 3px;
  }
  .promise_card {
    padding: 20px;
  }
  .location_cards .location_info {
    margin-top: 10px;
  }
  .location_cards .contact_card {
    margin-bottom: 10px;
  }
  .website_heaeder .form_wrapper {
    padding: 20px;
  }
  .customers_say .slick-track {
    padding: 0 0;
  }
  .customers_say .slider_item .customers_say_card {
    margin: 0 5px;
  }
  .customers_say .slider_item {
    padding: 5px 0;
  }
  .form_wrapper_style {
    padding: 25px;
  }
  .footer .social {
    margin-bottom: 20px;
  }
  .order1tablet {
    order: 1;
  }
  .order2tablet {
    order: 2;
  }
  .customers_say_card .order1tablet {
    margin-bottom: 25px;
  }
  .customers_say_card .order1tablet .rate {
    display: none !important;
  }
  .customers_say_card .order2tablet .rate {
    display: flex !important;
  }
  .customers_say_card h6 {
    margin: 8px 0 !important;
  }
}
.logo_mobile {
  display: none;
}

@media (max-width: 600px) {
  .website_heaeder .header_boxes {
    padding-top: 30px;
  }
  .website_heaeder .header_title {
    font-size: 2.3rem;
  }
  .website_heaeder .header_title {
    font-size: 2.7rem;
  }
  .website_heaeder .header_title span {
    display: block;
  }
  .logo_mobile {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .logo_mobile img {
    margin: auto;
    display: block;
    width: 210px;
  }
  .how_help_you {
    padding: 0 0;
  }
  .how_help_you .section_header {
    margin: 30px 0 !important;
    margin-top: 0 !important;
  }
  .help_card .card_body p {
    margin-top: 18px;
  }
  .help_card .card_body h2 {
    font-size: 1.2rem;
  }
  .brands {
    padding: 35px 0;
  }
  .download_profile .meeting_link {
    padding: 8px 10px;
  }
  .download_profile .meeting_link span {
    font-size: 0.9rem;
  }
  .download_profile .pdf_link {
    padding: 8px 10px;
  }
  .download_profile .pdf_link span {
    font-size: 0.9rem;
  }
  .promise_card p {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
  }
  .footer .social li a {
    width: 35px;
    height: 35px;
  }
  .copy .title {
    text-align: center;
  }
  .copy ul {
    justify-content: center !important;
    margin-bottom: 15px !important;
  }
  .order1mobile {
    order: 1;
  }
  .order2mobile {
    order: 2;
  }
  .location_card {
    padding: 25px 15px;
  }
  .location_card .location_info .contact_card h5 {
    font-size: 1.1rem;
  }
}
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* Shared styles  *//*# sourceMappingURL=style.css.map */